<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eventmanagementapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo1"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventManagementApplication">
        <activity android:name=".Activities.SubCatImageActivity" />
        <activity android:name=".Activities.password_updated" />
        <activity android:name=".Activities.new_password" />
        <activity android:name=".Activities.otp_code_verify" />
        <activity android:name=".Activities.forgot_passwordActivity" />
        <activity android:name=".Activities.ShopDetailsActivity" />
        <activity android:name=".Activities.SetEventDetailsActivity" />
        <activity android:name=".Activities.SubCatActivity" />
        <activity android:name=".Activities.ShopImageActivity" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.IntroductoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>